<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Трэвел.ру</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/countries.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
<div class="background_countries" id="background_main" style="background-image: url(images/italy/main.jpg)" alt="img">
    <h1 id="text-travel">Италия</h1>
    <ul class="chain-links">
        <li><a href="/" title="Переход на главную страницу">Главная</a></li>
        <li>Италия</li>
    </ul>
    <header>
        <nav class="container">
            <a class="logo" href="/" title="Переход на главную страницу">
            <img src="images/mainPage/logo.png" alt="img">
            </a>
            <div class="burger"><span></span></div>
            <form id="searchform">
                <input class="search-text" id="text-to-find" value="" placeholder="Искать на странице..">
                <button class="clear-button" type="submit" onclick="FindOnPage('text-to-find',false); return false;"><i class="fa-solid fa-xmark"></i></button>
                <button class="submit-button" type="submit" onclick="FindOnPage('text-to-find',true); return false;"><i class="fa fa-search"></i></button>
            </form>
            <ul id="menu">
            <li><a class="menu_element" href="/" title="Вернуться главную страницу">Главная</a></li>
            <li>
                <a class="menu_element">Каталог стран</a>
                <ul>
                    <li><a href="/turkey" title="Подробнее о Турции">Турция</a></li>  <!-- менять -->
                    <li><a href="/oae" title="Подробнее об ОАЭ">ОАЭ</a></li>
                    <li><a href="/egypt" title="Подробнее о Египте">Египет</a></li>
                    <li><a href="/greece" title="Подробнее о Греции">Греция</a></li>
                    <li><a class="country-active" style="text-decoration: 1px underline;">Италия</a></li>
                    <li><a href="/france" title="Подробнее о Франции">Франция</a></li>
                    <li><a href="/china" title="Подробнее о Китае">Китай</a></li>
                    <li><a href="/korea" title="Подробнее о Корее">Корея</a></li>
                    <li><a href="/vietnam" title="Подробнее о Вьетнаме">Вьетнам</a></li>
                    <li><a href="/japan" title="Подробнее о Японии">Япония</a></li>
                </ul>
            </li>
            <li><a class="menu_element" href="/#partners" title="Блок с ссылками на партнёров-спонсоров">Партнёры</a></li>
            <li><a class="menu_element" href="/#reviews" title="Отзывы о компании">Отзывы</a></li>
            <li>
                <a class="menu_element">Компания</a>
                <ul>
                  <li><a href="/aboutUs" title="Подробнее о нашей компании">О нас</a></li>
                  <li><a style="font-size: 18px" href="/feedback" title="Ссылка для связи с нами">Обратная связь</a></li>
                  <li><a href="/qna" title="Ответы на часто задаваемые вопросы">Q&A</a></li>
                </ul>
              </li>
            </ul>
        </nav>
    </header>
</div>

<a class="buttons-top-footer" id="toFooter" style="rotate: 180deg" href="#bottom" title="Перейти к низу страницы">^</a>
<a class="buttons-top-footer" id="toTop" href="#background_main" title="Перейти к верху страницы">^</a>

<h1 class="main-text">Краткая характеристика страны</h1>
<div class="country-characteristics-container">
<div class="country-characteristics-table">
    <div class="cc-element"> 
        <h1>Дата основания</h1>
        <h2>{{foundation}}</h2>
    </div>
    <div class="cc-element">
        <h1>Официальный язык</h1>
        <h2>{{lang}}</h2>
    </div>
    <div class="cc-element">
        <h1>Форма правления</h1>
        <h2>{{government_form}}</h2>
    </div>
    <div class="cc-element">
        <h1>Территория</h1>
        <h2>{{territory}}</h2>
    </div>
    <div class="cc-element">
        <h1>Население</h1>
        <h2>{{population}}</h2>
    </div>
    <div class="cc-element">
        <h1>Столица</h1>
        <h2>{{capital}}</h2>
    </div>
    <div class="cc-element">
        <h1>Валюта</h1>
        <h2>{{currency}}</h2>
    </div>
    <div class="cc-element">
        <h1>Часовой пояс</h1>
        <h2>{{time_zone}}</h2>
    </div>
    <div class="cc-element">
        <h1>Крупнейшие города</h1>
        <h2>{{largest_cities}}</h2>
    </div>
</div>
<h2 class="country-info">{{country_info}}</h2>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Ближайшие авиарейсы</h1>
<h2 style="max-width: 70vw; text-align: center; margin: 20px auto;">Прямые перелеты в Италию из России с февраля 2022 года временно приостановлены. Но полететь в страну можно с пересадками в других странах. 
    Вы можете воспользоваться предложенным ниже маршрутом.</h2>
<div style="display: flex; justify-content: center;">
    <iframe class="avia-informer" src="https://rasp.yandex.ru/informers/v2/search/?fromId=c213&amp;toId=c11508&amp;size=5&amp;color=1"></iframe>
    <iframe class="avia-informer" src="https://rasp.yandex.ru/informers/v2/search/?fromId=c11508&amp;toId=c10445&amp;size=5&amp;color=1"></iframe>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text" id="places-turkey">Туристические места Италии</h1> <!-- менять -->
<div class="filters-buttons" id="filterPlaces-buttons">
    <button class="filter-btn active" onclick="filterPlaceSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterPlaceSelection('historical')">История</button>
    <button class="filter-btn" onclick="filterPlaceSelection('museums')">Музеи</button>
    <button class="filter-btn" onclick="filterPlaceSelection('parks')">Парки</button>
    <button class="filter-btn" onclick="filterPlaceSelection('fun')">Развлечения</button>
    <button class="filter-btn" onclick="filterPlaceSelection('mountains')">Горы</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Place historical" style="background-image: url(images/italy/places/vatican.jpg);" alt="img">
        <h1>Ватикан</h1>
        <a href="/inDev" title="Подробнее о Ватикане">
        <div class="filter-mask">
            <h2>Ватикан — самое маленькое по площади государство, признанное во всем мире. Для сравнения: 
                площадь Ватикана составляет 0,44 кв. км, а площадь Москвы — 2,561 кв. км.</h2>
            <h3 style="margin-top: 100px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical museums" style="background-image: url(images/italy/places/sistine-chapel.jpg);" alt="img">
        <h1>Сикстинская капелла</h1>
        <a href="/inDev" title="Подробнее о Сикстинской капелле">
        <div class="filter-mask">
            <h2>Сикстинская капелла, построенная в XV веке, это один из известнейших храмов мира, расположенный в Ватикане. 
                Росписи на потолках и стенах принадлежат кистям Микеланджело, Боттичелли, Росселли, Перуджино и многим другим итальянским художникам.</h2>
            <h3 style="margin-top: 33px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place parks" style="background-image: url(images/italy/places/pantheon.jpg);" alt="img">
        <h1>Пантеон</h1>
        <a href="/inDev" title="Подробнее о Пантеоне">
        <div class="filter-mask">
            <h2>Своё уважение к богам римляне выразили и в архитектуре, а именно в Пантеоне, что с греческого переводится как «храм всех богов».</h2>
            <h3 style="margin-top: 116px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical museums" style="background-image: url(images/italy/places/colosseum.jpg);" alt="img">
        <h1>Колизей</h1>
        <a href="/inDev" title="Подробнее о Колизее">
        <div class="filter-mask">
            <h2>Одной из самых знаменитых во всем мире достопримечательностей Италии является Колизей, возраст которого почти два тысячелетия. 
                Он стал своего рода визитной карточкой всей страны и ее столицы — Рима, и поэтому посмотреть на величественное здание туристу 
                следует обязательно.</h2>
            <h3 style="margin-top: 33px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical mountains" style="background-image: url(images/italy/places/pompeii-and-vesuvius.jpg);" alt="img">
        <h1>Помпеи и в. Везувий</h1>
        <a href="/inDev" title="Подробнее о Помпеях и вулкане Везувие">
        <div class="filter-mask">
            <h2>Один из старейших древнеримских городов был основан в VII – VI вв. до н. э. После 8 веков существования город постигла печальная участь. 
                Извержение вулкана Везувия стерло Помпеи с лица земли, засыпав его толстым слоем пепла, и похоронив под ним все живое.</h2>
            <h3 style="margin-top: 33px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place fun" style="background-image: url(images/italy/places/pisa.jpg);" alt="img">
        <h1>Пизанская башня</h1>
        <a href="/inDev" title="Подробнее о Пизанской башне">
        <div class="filter-mask">
            <h2>Если вы увидели людей, зачем-то вытянувших руку перед собой, то вы наверняка рядом с Пизанской башней. Падающих башен десятки, но именно 
                Пизанская стала всемирно известной. Накренилась она ещё на этапе строительства из-за ошибок при проектировании, рыхлого грунта и слабого 
                фундамента.</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Отели Италии</h1> <!-- менять -->
<div class="filters-buttons" id="filterHotels-buttons">
    <button class="filter-btn active" onclick="filterHotelSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterHotelSelection('rom')">Отели Рима</button>
    <button class="filter-btn" onclick="filterHotelSelection('venice')">Отели Венеции</button>
    <button class="filter-btn" onclick="filterHotelSelection('all-inclusive')">Всё включено</button>
    <button class="filter-btn" onclick="filterHotelSelection('breakfast-inclusive')">Завтрак включён</button>
    <button class="filter-btn" onclick="filterHotelSelection('sea-visible')">Вид на море</button>
    <button class="filter-btn" onclick="filterHotelSelection('3star')">3✩</button>
    <button class="filter-btn" onclick="filterHotelSelection('4star')">4✩</button>
    <button class="filter-btn" onclick="filterHotelSelection('5star')">5✩</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Hotel 4star rom" style="background-image: url(images/italy/hotels/occidental.jpg);" alt="img">
        <h1>Occidental Aran Park</h1>
        <a href="/inDev" title="Подробнее о Occidental Aran Park">
        <div class="filter-mask">
            <h2>Отель Occidental Aran Park расположен в римском деловом районе ЭУР. К услугам гостей — просторные номера в окружении сада 
                В отеле также работает панорамный ресторан. Во всех современных номерах есть отдельный балкон. В числе стандартных удобств — 
                кондиционер и телевизор со спутниковыми каналами.</h2>
            <h3 style="margin-top: 0px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 4star rom" style="background-image: url(images/italy/hotels/terrace-pantheon.jpg);" alt="img">
        <h1>Terrace Pantheon Relais</h1>
        <a href="/inDev" title="Подробнее о Terrace Pantheon Relais">
        <div class="filter-mask">
            <h2>Все номера оснащены кондиционером, электрическим чайником и телевизором с плоским экраном. В современной собственной 
                ванной комнате предоставляется фен и бесплатные туалетно-косметические принадлежности.<h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel breakfast-inclusive 5star venice" style="background-image: url(images/italy/hotels/hilton.jpg);" alt="img">
        <h1>Hilton Venice</h1>
        <a href="/inDev" title="Подробнее о Hilton Venice">
        <div class="filter-mask">
            <h2>В каждом из светлых и просторных номеров с элегантным интерьером имеются бесплатные туалетно-косметические принадлежности и минеральная 
                вода в бутылках. В числе стандартных удобств — сейф, ванна и душ, утюг/гладильная доска и фен.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 4star venice breakfast-inclusive" style="background-image: url(images/italy/hotels/sheraton.jpg);" alt="img">
        <h1>Sheraton Venice</h1>
        <a href="/inDev" title="Подробнее о Sheraton Venice">
        <div class="filter-mask">
            <h2>Входит в состав крупнейшей в мире международной гостиничной сети Marriott International и является брендом с самым широким географическим охватом — 
                400 регионов в 70 странах мира. Его недвижимость расположена в популярных туристических городах, курортных зонах и центрах деловой активности.</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel sea-visible 5star" style="background-image: url(images/italy/hotels/almar-jesolo.jpg);" alt="img">
        <h1>Almar Jesolo</h1>
        <a href="/inDev" title="Подробнее о Almar Jesolo">
        <div class="filter-mask">
            <h2>Курортный спа-отель Almar Jesolo расположен на берегу моря в районе Лидо-ди-Езоло. К услугам гостей частный пляж, открытый бассейн, сауна и бесплатный 
                прокат велосипедов. На всей территории отеля предоставляется бесплатный Wi-Fi. Гости также могут бесплатно посещать оздоровительный и спа-центр.</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 4star rome" style="background-image: url(images/italy/hotels/marriott.jpg);" alt="img">
        <h1>Rome Marriott</h1>
        <a href="/inDev" title="Подробнее об Rome Marriott">
        <div class="filter-mask">
            <h2>Marriott International — крупнейшая гостиничная сеть, лидирующая по количеству номеров (свыше 1400000).
                Сегодня Marriott International принадлежат более 7000 объектов недвижимости в 131 стране и 30 гостиничных брендов.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Рестораны Италии</h1> <!-- менять -->
<div class="filters-buttons" id="filterRestaurants-buttons">
    <button class="filter-btn active" onclick="filterRestaurantSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('rom')">Рестораны Рима</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('sea-beach')">На берегу моря</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('seafood')">Морепродукты</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('traditional-kitchen')">Традиционная кухня</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('expensive')">$$$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('reasonable-price')">$$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('cheap')">$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('fast-food')">Фаст-фуд</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Restaurant reasonable-price rom seafood" style="background-image: url(images/italy/restaurants/mikachan.jpg);" alt="img">
        <h1>Mikachan</h1>
        <a href="/inDev" title="Подробнее о Mikachan">
        <div class="filter-mask">
            <h2>В этом ресторане предлагают блюда японской кухни. Постоянные гости отмечают, что в Mikachan готовят неплохой рамэн, лосося и нигири. 
                По отзывам посетителей, здесь подают хороший кордиал. Обязательно закажите тут неплохой кофе.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant cheap fast-food rom" style="background-image: url(images/italy/restaurants/burger-king.jpg);" alt="img">
        <h1>Burger King</h1>
        <a href="/inDev" title="Подробнее о Burger king">
        <div class="filter-mask">
            <h2>Американская сеть ресторанов быстрого питания Burger King, базирующаяся во Флориде имеет огромное количество 
                точек по всему миру. Считается, что Бургер Кинг – главный конкурент такого гиганта, как Макдональдс.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant expensive traditional-kitchen rom" style="background-image: url(images/italy/restaurants/la-pergola.jpg);" alt="img">
        <h1>La Pergola</h1>
        <a href="/inDev" title="Подробнее о La Pergola">
        <div class="filter-mask">
            <h2>Если вы хотите устроить праздник в честь дня рождения, годовщины, свадьбы или любое другое застолье, то советуем обратить внимание 
                именно на это место. Множество клиентов пишут, что персонал в этом заведении услужливый. Клиентам нравится приятный сервис.</h2>
            <h3 style="margin-top: 33px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant expensive traditional-kitchen seafood sea-beach" style="background-image: url(images/italy/restaurants/uliassi.jpg);" alt="img">
        <h1>Uliassi</h1>
        <a href="/inDev" title="Подробнее об Uliassi">
        <div class="filter-mask">
            <h2>В этом месте обширный выбор вин. В этом заведении вам предложат неплохой латте, лимонад или эспрессо. Большинство гостей считают, что 
                персонал здесь отличный. Впечатляющий сервис - большой плюс этого ресторана.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant reasonable-price traditional-kitchen seafood" style="background-image: url(images/italy/restaurants/villa-crespi.jpg);" alt="img">
        <h1>Villa Crespi</h1>
        <a href="/inDev" title="Подробнее о Villa Crespi">
        <div class="filter-mask">
            <h2>В Villa Crespi есть терраса, где вы можете отлично провести время на свежем воздухе. По словам клиентов, персонал здесь замечательный. 
                По мнению гостей, сервис роскошный. Гости говорят, что цены в этом месте демократичные.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant reasonable-price fast-food rom" style="background-image: url(images/italy/restaurants/starbucks.jpg);" alt="img">
        <h1>Starbucks</h1>
        <a href="/inDev" title="Подробнее о Starbucks">
        <div class="filter-mask">
            <h2>Старбакс – в некотором роде феномен в розничной продаже кофе. Это одна из первых и уж точно 
                самая известная сеть кофеен, открывшая состоянием на 2023 год более 30 тысяч представительств по всему миру. </h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>

<footer class="footer-main">
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-col">
          <h1 style="margin-left: 30px">Каталог стран</h1>
          <ul style="margin-left: 30px">
            <li><a href="/turkey" title="Подробнее о Турции">- Турция</a></li>
            <li><a href="/oae" title="Подробнее об ОАЭ">- ОАЭ</a></li>
            <li><a href="/egypt" title="Подробнее о Египте">- Египет</a></li>
            <li><a href="/greece" title="Подробнее о Греции">- Греция</a></li>
            <li><a class="country-active">- Италия</a></li>
            <li><a href="/france" title="Подробнее о Франции">- Франция</a></li>
            <li><a href="/china" title="Подробнее о Китае">- Китай</a></li>
            <li><a href="/korea" title="Подробнее о Корее">- Корея</a></li>
            <li><a href="/vietnam" title="Подробнее о Вьетнаме">- Вьетнам</a></li>
            <li><a id="bottom" href="/japan" title="Подробнее о Японии">- Япония</a></li>
          </ul>
        </div>

        <div class="footer-col">
            <h1>Компания</h1>
            <ul>
              <li><a href="/reviews" title="Напишите отзыв о нас">- Отзывы</a></li>
              <li><a href="/aboutUs" title="Подробнее о компании">- О нас</a></li>
              <li><a href="/feedback" title="Ссылка для связи с нами">- Обратная связь</a></li>
              <li><a href="/qna" title="Ответы на часто задаваемые вопросы">- Q&A</a></li>
            </ul>
          </div>

        <div class="footer-col">
          <h1 style="margin-left: 30px">Партнёры</h1>
          <ul style="margin-left: 30px">
            <li><a href="https://www.tutu.ru" title="Ссылка на сайт Туту.ру">- Туту</a></li>
            <li><a href="https://www.aviasales.ru" title="Ссылка на сайт Авиасейлс.ру">- Авиасейлс</a></li>
            <li><a href="https://pegas-turistik.ru" title="Ссылка на сайт Пегас-Туристик.ру">- Пегас туристик</a></li>
          </ul>
        </div>
        
        <div class="footer-col">
          <h1>Контактная информация</h1>
          <div class="social-links">
            <a class="social-media" href="https://vk.com/nnbezgalochki" title="Группа компании ВКонтакте" target="_blank"><i class="fab fa-vk"></i></a>
            <a class="social-media" href="https://web.telegram.org" title="Группа компании в телеграме" target="_blank"><i class="fa fa-solid fa-paper-plane"></i></a>
            <a class="social-media" href="https://www.youtube.com" title="Канал компании на YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="social-media" href="https://ok.ru/" title="Группа компании в одноклассниках" target="_blank"><i class="fab fa-odnoklassniki"></i></a>
            <h4 style="color: #fff; padding-bottom: 10px"><i class="fa fa-solid fa-envelope"></i> travel.ru@yandex.ru</h4>
            <h4 style="color: #fff"><i class="fa fa-solid fa-phone"></i> +79876543210</h4>
            <a href="/" title="Вернуться на Главную страницу" style="color: #fff; line-height: 70px; margin-left: 15 0px"><i class="fa fa-home"></i></a>
            <a href="/sitemap" title="Просмотреть карту сайта" style="color: #fff; line-height: 70px;"><i class="fa fa-sitemap"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/search.js" defer></script>
  <script src="/js/filters.js" defer></script>
  <script src="/js/menu.js" defer></script>
</body>
</html>