<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Трэвел.ру</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/countries.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
<div class="background_countries" id="background_main" style="background-image: url(images/turkey/main.jpg)" alt="img">
    <h1 id="text-travel">Турция</h1>
    <ul class="chain-links">
        <li><a href="/" title="Переход на главную страницу">Главная</a></li>
        <li>Турция</li>
    </ul>
    <header>
        <nav class="container">
            <a class="logo" href="/" title="Переход на главную страницу">
            <img src="images/mainPage/logo.png" alt="img">
            </a>
            <div class="burger"><span></span></div>
            <form id="searchform">
                <input class="search-text" id="text-to-find" value="" placeholder="Искать на странице..">
                <button class="clear-button" type="submit" onclick="FindOnPage('text-to-find',false); return false;"><i class="fa-solid fa-xmark"></i></button>
                <button class="submit-button" type="submit" onclick="FindOnPage('text-to-find',true); return false;"><i class="fa fa-search"></i></button>
            </form>
            <ul id="menu">
            <li><a class="menu_element" href="/" title="Вернуться главную страницу">Главная</a></li>
            <li>
                <a class="menu_element">Каталог стран</a>
                <ul>
                    <li><a class="country-active" style="text-decoration: 1px underline;">Турция</a></li>  <!-- менять -->
                    <li><a href="/oae" title="Подробнее об ОАЭ">ОАЭ</a></li>
                    <li><a href="/egypt" title="Подробнее о Египте">Египет</a></li>
                    <li><a href="/greece" title="Подробнее о Греции">Греция</a></li>
                    <li><a href="/italy" title="Подробнее об Италии">Италия</a></li>
                    <li><a href="/france" title="Подробнее о Франции">Франция</a></li>
                    <li><a href="/china" title="Подробнее о Китае">Китай</a></li>
                    <li><a href="/korea" title="Подробнее о Корее">Корея</a></li>
                    <li><a href="/vietnam" title="Подробнее о Вьетнаме">Вьетнам</a></li>
                    <li><a href="/japan" title="Подробнее о Японии">Япония</a></li>
                </ul>
            </li>
            <li><a class="menu_element" href="/#partners" title="Блок с ссылками на партнёров-спонсоров">Партнёры</a></li>
            <li><a class="menu_element" href="/#reviews" title="Отзывы о компании">Отзывы</a></li>
            <li>
                <a class="menu_element">Компания</a>
                <ul>
                  <li><a href="/aboutUs" title="Подробнее о нашей компании">О нас</a></li>
                  <li><a style="font-size: 18px" href="/feedback" title="Ссылка для связи с нами">Обратная связь</a></li>
                  <li><a href="/qna" title="Ответы на часто задаваемые вопросы">Q&A</a></li>
                </ul>
              </li>
            </ul>
        </nav>
    </header>
</div>


<a class="buttons-top-footer" id="toFooter" style="rotate: 180deg" href="#bottom" title="Перейти к низу страницы">^</a>
<a class="buttons-top-footer" id="toTop" href="#background_main" title="Перейти к верху страницы">^</a>

<h1 class="main-text">Краткая характеристика страны</h1>
<div class="country-characteristics-container">
<div class="country-characteristics-table">
    <div class="cc-element"> 
        <h1>Дата основания</h1>
        <h2>{{foundation}}</h2>
    </div>
    <div class="cc-element">
        <h1>Официальный язык</h1>
        <h2>{{lang}}</h2>
    </div>
    <div class="cc-element">
        <h1>Форма правления</h1>
        <h2>{{government_form}}</h2>
    </div>
    <div class="cc-element">
        <h1>Территория</h1>
        <h2>{{territory}}</h2>
    </div>
    <div class="cc-element">
        <h1>Население</h1>
        <h2>{{population}}</h2>
    </div>
    <div class="cc-element">
        <h1>Столица</h1>
        <h2>{{capital}}</h2>
    </div>
    <div class="cc-element">
        <h1>Валюта</h1>
        <h2>{{currency}}</h2>
    </div>
    <div class="cc-element">
        <h1>Часовой пояс</h1>
        <h2>{{time_zone}}</h2>
    </div>
    <div class="cc-element">
        <h1>Крупнейшие города</h1>
        <h2>{{largest_cities}}</h2>
    </div>
</div>
<h2 class="country-info">{{country_info}}</h2>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Ближайшие авиарейсы</h1>
<div style="display: flex; justify-content: center;">
    <iframe class="avia-informer" src="https://rasp.yandex.ru/informers/v2/search/?fromId=c213&amp;toId=c11508&amp;size=5&amp;color=1"></iframe>
    <iframe class="avia-informer" src="https://rasp.yandex.ru/informers/v2/search/?fromId=c213&amp;toId=c11511&amp;size=5&amp;color=1"></iframe>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text" id="places-turkey">Туристические места Турции</h1> <!-- менять -->
<div class="filters-buttons" id="filterPlaces-buttons">
    <button class="filter-btn active" onclick="filterPlaceSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterPlaceSelection('historical')">История</button>
    <button class="filter-btn" onclick="filterPlaceSelection('museums')">Музеи</button>
    <button class="filter-btn" onclick="filterPlaceSelection('parks')">Парки</button>
    <button class="filter-btn" onclick="filterPlaceSelection('fun')">Развлечения</button>
    <button class="filter-btn" onclick="filterPlaceSelection('mountains')">Горы</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Place historical museums" style="background-image: url(images/turkey/places/stsofia.jpg);" alt="img">
        <h1>{{place_name1}}</h1>
        <a href="/turkey-stsofia" title="Подробнее о Соборе святой Софии">
        <div class="filter-mask">
            <h2>{{place_desc1}}</h2>
            <h3 style="margin-top: 116px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place museums" style="background-image: url(images/turkey/places/arch_museum.jpg);" alt="img">
        <h1>{{place_name2}}</h1>
        <a href="/turkey-archeologicalMuseum" title="Подробнее об Археологическом музее">
        <div class="filter-mask">
            <h2>{{place_desc2}}</h2>
            <h3 style="margin-top: 83px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place parks" style="background-image: url(images/turkey/places/emir_park.jpg);" alt="img">
        <h1>{{place_name3}}</h1>
        <a href="/turkey-parkEmirgan" title="Подробнее о Парке Эмирган">
        <div class="filter-mask">
            <h2>{{place_desc3}}</h2>
            <h3 style="margin-top: 100px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical" style="background-image: url(images/turkey/places/topkap.jpg);" alt="img">
        <h1>{{place_name4}}</h1>
        <a href="/turkey-palaceTopkapi" title="Подробнее о Дворце Топкапы">
        <div class="filter-mask">
            <h2>{{place_desc4}}</h2>
            <h3 style="margin-top: 116px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place parks" style="background-image: url(images/turkey/places/greenk.jpg);" alt="img">
        <h1>{{place_name5}}</h1>
        <a href="/turkey-greenCanyon" title="Подробнее о Грин Каньоне">
        <div class="filter-mask">
            <h2>{{place_desc5}}</h2>
            <h3 style="margin-top: 116px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place fun" style="background-image: url(images/turkey/places/kappadokia.jpg);" alt="img">
        <h1>{{place_name6}}</h1>
        <a href="/turkey-kappadokia" title="Подробнее о Каппадокии">
        <div class="filter-mask">
            <h2>{{place_desc6}}</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical museums" style="background-image: url(images/turkey/places/wblue_church.jpg);" alt="img">
        <h1>Голубая мечеть</h1>
        <a href="/inDev" title="Подробнее о Голубой мечети">
        <div class="filter-mask">
            <h2>В архитектурном плане Голубая мечеть вобрала в себя всё лучшее от зодчества
                    Турции и Византии, а вместо привычных четырех минаретов построили шесть.</h2>
            <h3 style="margin-top: 116px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place mountains" style="background-image: url(images/turkey/places/mountain_nemrut.jpg);" alt="img">
        <h1>Гора Немрут-Даг</h1>
        <a href="/inDev" title="Подробнее о Горе Немрут-Даг">
        <div class="filter-mask">
            <h2>Если подняться на 2150 метров вверх, а именно столько составляет высота горы Немрут-Даг, 
                то от наблюдаемой панорамы голова может закружиться как в буквальном, так и в переносном смысле.</h2>
            <h3 style="margin-top: 83px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical museums" style="background-image: url(images/turkey/places/suleman_church.jpg);" alt="img">
        <h1>Мечеть Сулеймание</h1>
        <a href="/inDev" title="Подробнее о Мечети Сулеймание">
        <div class="filter-mask">
            <h2>В 2019 году в Стамбуле завершили строительство мечети Чамлыджа, ставшей самой большой
                    в городе, до этого звание самой большой мечети турецкой столицы носила Сулеймание.</h2>
            <h3 style="margin-top: 100px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place fun" style="background-image: url(images/turkey/places/aqualand.jpg);" alt="img">
        <h1>Аквапарк Aqualand</h1>
        <a href="/inDev" title="Подробнее об Аквапарке Aqualand">
        <div class="filter-mask">
            <h2>Каждый родитель мучается вопросом, что предложить детям, кроме купания в море и в бассейне.
                    Один из самых популярных вариантов у туристов — аквапарк «Аквалэнд» в Анталье, где весело
                    проведет время каждый посетитель независимо от возраста.</h2>
            <h3 style="margin-top: 51px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place mountains" style="background-image: url(images/turkey/places/ararat.jpg);" alt="img">
        <h1>Гора Арарат</h1>
        <a href="/inDev" title="Подробнее о Горе Арарат">
        <div class="filter-mask">
            <h2>С Араратом связано множество легенд и преданий, но самая известная гласит, что именно
                    к пику этой горы причалил Ноев ковчег после потопа.</h2>
            <h3 style="margin-top: 116px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical" style="background-image: url(images/turkey/places/grand_bazaar.jpg);" alt="img">
        <h1>Гранд-базар</h1>
        <a href="/inDev" title="Подробнее о Гранд-базаре">
        <div class="filter-mask">
            <h2>Поездку в Турцию просто невозможно представить без посещения традиционного восточного рынка,
                    где зачастую колорита больше, чем во всех достопримечательностях страны.</h2>
            <h3 style="margin-top: 83px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place fun" style="background-image: url(images/turkey/places/isfanbul.jpg);" alt="img">
        <h1>Парк Isfanbul</h1>
        <a href="/inDev" title="Подробнее о Парке Isfanbul">
        <div class="filter-mask">
            <h2>Cамый крупный и молодой парк развлечений в Турции. Парк построен в 2013 году на месте старых
                    каменоломен и непросыхающих болот, на территории площадью более 600 тыс. м2.</h2>
            <h3 style="margin-top: 83px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place mountains" style="background-image: url(images/turkey/places/yanartash.jpg);" alt="img">
        <h1>Огненная гора Янарташ</h1>
        <a href="/inDev" title="Подробнее об Огненной горе Янарташ">
        <div class="filter-mask">
            <h2>«Огненной» гору Янарташ назвали не из-за какой-либо древней легенды или особенного цвета камней,
                    а потому что она действительно горит круглый год.</h2>
            <h3 style="margin-top: 116px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text" id="hotels-turkey">Отели Турции</h1> <!-- менять -->
<div class="filters-buttons" id="filterHotels-buttons">
    <button class="filter-btn active" onclick="filterHotelSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterHotelSelection('lara-hotel')">Отели Лара</button>
    <button class="filter-btn" onclick="filterHotelSelection('antalia-hotel')">Отели Антальи</button>
    <button class="filter-btn" onclick="filterHotelSelection('all-inclusive')">Всё включено</button>
    <button class="filter-btn" onclick="filterHotelSelection('breakfast-inclusive')">Завтрак включён</button>
    <button class="filter-btn" onclick="filterHotelSelection('sea-visible')">Вид на море</button>
    <button class="filter-btn" onclick="filterHotelSelection('3star')">3✩</button>
    <button class="filter-btn" onclick="filterHotelSelection('4star')">4✩</button>
    <button class="filter-btn" onclick="filterHotelSelection('5star')">5✩</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Hotel all-inclusive 5star sea-visible lara-hotel" style="background-image: url(images/turkey/hotels/delphin.jpg);" alt="img">
        <h1>{{hotel_name1}}</h1>
        <a href="/turkey-delphin" title="Подробнее о Delphin Imperial Lara">
        <div class="filter-mask">
            <h2>{{hotel_desc1}}</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 4star sea-visible lara-hotel breakfast-inclusive" style="background-image: url(images/turkey/hotels/safir.jpg);" alt="img">
        <h1>New Safir Apart Hotel</h1>
        <a href="/inDev" title="Подробнее о Safir Apart">
        <div class="filter-mask">
            <h2>Апарт-отель New Safir расположен на курорте Лара в Средиземноморском регионе Турции, 
                недалеко от общественного пляжа Кунду. К услугам гостей бесплатный Wi-Fi и бесплатная 
                частная парковка.</h2>
            <h3 style="margin-top: 83px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 4star lara-hotel" style="background-image: url(images/turkey/hotels/huma.jpg);" alt="img">
        <h1>Huma Elite Hotel</h1>
        <a href="/inDev" title="Подробнее о Huma Elite">
        <div class="filter-mask">
            <h2>Апарт-отель Huma Elite с садом и сезонным открытым бассейном расположен в Анталье, 
                в 2,2 км от общественного пляжа Лара Халк и в 12 км от ворот Адриана. 
                К услугам гостей номера с кондиционером, бесплатным Wi-Fi</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel sea-visible 3star lara-hotel breakfast-inclusive" style="background-image: url(images/turkey/hotels/lara.jpg);" alt="img">
        <h1>Lara Beach Homes</h1>
        <a href="/inDev" title="Подробнее о Lara Beach Homes">
        <div class="filter-mask">
            <h2>Отель Lara Beach Homes с бассейном, садом и баром расположен в городе Лара. К услугам 
                гостей номера и апартаменты с бесплатным Wi-Fi. Из окон открывается вид на бассейн.</h2>
            <h3 style="margin-top: 100px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel sea-visible 3star antalia-hotel" style="background-image: url(images/turkey/hotels/peramis.jpg);" alt="img">
        <h1>Peramis Hotel & Spa</h1>
        <a href="/inDev" title="Подробнее о Peramis Hotel & Spa">
        <div class="filter-mask">
            <h2>Трехзвездочный спа-отель Peramis расположен в Анталье, в 600 метрах от общественного пляжа Лара 
                и в 12 км от ворот Адриана. В отеле работает бар. Все гости могут посещать оздоровительный и 
                спа-центр с фитнес центром, сауной, открытым бассейном и террасой.</h2>
            <h3 style="margin-top: 33px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel all-inclusive 5star lara-hotel breakfast-inclusive" style="background-image: url(images/turkey/hotels/swandor.jpg);" alt="img">
        <h1>Swandor Hotels</h1>
        <a href="/inDev" title="Подробнее о Swandor Hotels">
        <div class="filter-mask">
            <h2>Этот отель расположен на пляже Лара в Кунду. К услугам гостей крытый и открытый бассейны, а также хаммам, 
                бесплатный общественный Wi-Fi и номера с мини-баром и спутниковым телевидением.</h2>
            <h3 style="margin-top: 83px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text" id="restaurants-turkey">Рестораны Турции</h1> <!-- менять -->
<div class="filters-buttons" id="filterRestaurants-buttons">
    <button class="filter-btn active" onclick="filterRestaurantSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('stambul-restaurant')">Рестораны Стамбула</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('sea-beach')">На берегу моря</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('seafood')">Морепродукты</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('traditional-kitchen')">Традиционная кухня</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('expensive')">$$$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('reasonable-price')">$$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('cheap')">$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('fast-food')">Фаст-фуд</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Restaurant expensive sea-beach stambul-restaurant seafood" style="background-image: url(images/turkey/restaurants/adella.jpg);" alt="img">
        <h1>{{restaurant_name1}}</h1>
        <a href="/turkey-adella" title="Подробнее об Adella">
        <div class="filter-mask">
            <h2>{{restaurant_desc1}}</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant expensive traditional-kitchen stambul-restaurant" style="background-image: url(images/turkey/restaurants/grill-lord.jpg);" alt="img">
        <h1>Lord Of The Grill</h1>
        <a href="/inDev" title="Подробнее о Grill-lord">
        <div class="filter-mask">
            <h2>В этом ресторане можно заказать блюда средиземноморской кухни. Здесь вы можете попробовать вкусно приготовленную 
                пиццу, фокаччу и рыбу. Гости считают, что в Lord Of The Grills неплохой кордиал.</h2>
            <h3 style="margin-top: 83px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant reasonable-price fast-food stambul-restaurant" style="background-image: url(images/turkey/restaurants/starbucks.jpg);" alt="img">
        <h1>Starbucks</h1>
        <a href="/inDev" title="Подробнее о Starbucks">
        <div class="filter-mask">
            <h2>Старбакс – в некотором роде феномен в розничной продаже кофе. Это одна из первых и уж точно 
                самая известная сеть кофеен, открывшая состоянием на 2023 год более 30 тысяч представительств по всему миру. </h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant cheap fast-food stambul-restaurant" style="background-image: url(images/turkey/restaurants/burger-king.jpg);" alt="img">
        <h1>Burger King</h1>
        <a href="/inDev" title="Подробнее о Burger king">
        <div class="filter-mask">
            <h2>Американская сеть ресторанов быстрого питания Burger King, базирующаяся во Флориде имеет огромное количество 
                точек по всему миру. Считается, что Бургер Кинг – главный конкурент такого гиганта, как Макдональдс.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant cheap traditional-kitchen seafood" style="background-image: url(images/turkey/restaurants/ethnica.jpg);" alt="img">
        <h1>Resto Ethnica</h1>
        <a href="/inDev" title="Подробнее о Ethnica">
        <div class="filter-mask">
            <h2>В Resto Ethnica подают настоящую турецкую и средиземноморскую кухню. У них также есть много вегетарианские блюда 
                для посетителей, предпочитающих не есть мясо. </h2>
            <h3 style="margin-top: 100px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant reasonable-price traditional-kitchen" style="background-image: url(images/turkey/restaurants/las-tapas.jpg);" alt="img">
        <h1>Las Tapas Restaurant</h1>
        <a href="/inDev" title="Подробнее о Las Tapas">
        <div class="filter-mask">
            <h2>Множество гостей указывают на то, что в Las Tapas Restaurant подают аппетитное рагу из листьев габи, тапас и мясо ягнёнка.
                Уютная атмосфера этого заведения позволяет посетителям отдохнуть после рабочего дня. Большинство гостей считают, что персонал 
                здесь замечательный. Этот ресторан может похвастаться современным интерьером.</h2>
            <h3 style="margin-top: 0px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>

<footer class="footer-main">
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-col">
          <h1 style="margin-left: 30px">Каталог стран</h1>
          <ul style="margin-left: 30px">
            <li><a class="country-active">- Турция</a></li>
            <li><a href="/oae" title="Подробнее об ОАЭ">- ОАЭ</a></li>
            <li><a href="/egypt" title="Подробнее о Египте">- Египет</a></li>
            <li><a href="/greece" title="Подробнее о Греции">- Греция</a></li>
            <li><a href="/italy" title="Подробнее об Италии">- Италия</a></li>
            <li><a href="/france" title="Подробнее о Франции">- Франция</a></li>
            <li><a href="/china" title="Подробнее о Китае">- Китай</a></li>
            <li><a href="/korea" title="Подробнее о Корее">- Корея</a></li>
            <li><a href="/vietnam" title="Подробнее о Вьетнаме">- Вьетнам</a></li>
            <li><a id="bottom" href="japan" title="Подробнее о Японии">- Япония</a></li>
          </ul>
        </div>

        <div class="footer-col">
            <h1>Компания</h1>
            <ul>
              <li><a href="/reviews" title="Напишите отзыв о нас">- Отзывы</a></li>
              <li><a href="/aboutUs" title="Подробнее о компании">- О нас</a></li>
              <li><a href="/feedback" title="Ссылка для связи с нами">- Обратная связь</a></li>
              <li><a href="/qna" title="Ответы на часто задаваемые вопросы">- Q&A</a></li>
            </ul>
          </div>

        <div class="footer-col">
          <h1 style="margin-left: 30px">Партнёры</h1>
          <ul style="margin-left: 30px">
            <li><a href="https://www.tutu.ru" title="Ссылка на сайт Туту.ру">- Туту</a></li>
            <li><a href="https://www.aviasales.ru" title="Ссылка на сайт Авиасейлс.ру">- Авиасейлс</a></li>
            <li><a href="https://pegas-turistik.ru" title="Ссылка на сайт Пегас-Туристик.ру">- Пегас туристик</a></li>
          </ul>
        </div>
        
        <div class="footer-col">
          <h1>Контактная информация</h1>
          <div class="social-links">
            <a class="social-media" href="https://vk.com/nnbezgalochki" title="Группа компании ВКонтакте" target="_blank"><i class="fab fa-vk"></i></a>
            <a class="social-media" href="https://web.telegram.org" title="Группа компании в телеграме" target="_blank"><i class="fa fa-solid fa-paper-plane"></i></a>
            <a class="social-media" href="https://www.youtube.com" title="Канал компании на YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="social-media" href="https://ok.ru/" title="Группа компании в одноклассниках" target="_blank"><i class="fab fa-odnoklassniki"></i></a>
            <h4 style="color: #fff; padding-bottom: 10px"><i class="fa fa-solid fa-envelope"></i> travel.ru@yandex.ru</h4>
            <h4 style="color: #fff"><i class="fa fa-solid fa-phone"></i> +79876543210</h4>
            <a href="/" title="Вернуться на Главную страницу" style="color: #fff; line-height: 70px; margin-left: 15 0px"><i class="fa fa-home"></i></a>
            <a href="/sitemap" title="Просмотреть карту сайта" style="color: #fff; line-height: 70px;"><i class="fa fa-sitemap"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/search.js" defer></script>
  <script src="/js/filters.js" defer></script>
  <script src="/js/menu.js" defer></script>
</body>
</html>