<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Трэвел.ру</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/countries.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
<div class="background_countries" id="background_main" style="background-image: url(images/oae/main.jpg)" alt="img">
    <h1 id="text-travel">ОАЭ</h1>
    <ul class="chain-links">
        <li><a href="/" title="Переход на главную страницу">Главная</a></li>
        <li>ОАЭ</li>
    </ul>
    <header>
        <nav class="container">
            <a class="logo" href="/" title="Переход на главную страницу">
            <img src="images/mainPage/logo.png" alt="img">
            </a>
            <div class="burger"><span></span></div>
            <form id="searchform">
                <input class="search-text" id="text-to-find" value="" placeholder="Искать на странице..">
                <button class="clear-button" type="submit" onclick="FindOnPage('text-to-find',false); return false;"><i class="fa-solid fa-xmark"></i></button>
                <button class="submit-button" type="submit" onclick="FindOnPage('text-to-find',true); return false;"><i class="fa fa-search"></i></button>
            </form>
            <ul id="menu">
            <li><a class="menu_element" href="/" title="Вернуться главную страницу">Главная</a></li>
            <li>
                <a class="menu_element">Каталог стран</a>
                <ul>
                    <li><a href="/turkey" title="Подробнее о Турции">Турция</a></li>
                    <li><a class="country-active" style="text-decoration: 1px underline;">ОАЭ</a></li>
                    <li><a href="/egypt" title="Подробнее о Египте">Египет</a></li>
                    <li><a href="/greece" title="Подробнее о Греции">Греция</a></li>
                    <li><a href="/italy" title="Подробнее об Италии">Италия</a></li>
                    <li><a href="/france" title="Подробнее о Франции">Франция</a></li>
                    <li><a href="/china" title="Подробнее о Китае">Китай</a></li>
                    <li><a href="/korea" title="Подробнее о Корее">Корея</a></li>
                    <li><a href="/vietnam" title="Подробнее о Вьетнаме">Вьетнам</a></li>
                    <li><a href="/japan" title="Подробнее о Японии">Япония</a></li>
                </ul>
            </li>
            <li><a class="menu_element" href="/#partners" title="Блок с ссылками на партнёров-спонсоров">Партнёры</a></li>
            <li><a class="menu_element" href="/#reviews" title="Отзывы о компании">Отзывы</a></li>
            <li>
                <a class="menu_element">Компания</a>
                <ul>
                  <li><a href="/aboutUs" title="Подробнее о нашей компании">О нас</a></li>
                  <li><a style="font-size: 18px" href="/feedback" title="Ссылка для связи с нами">Обратная связь</a></li>
                  <li><a href="/qna" title="Ответы на часто задаваемые вопросы">Q&A</a></li>
                </ul>
              </li>
            </ul>
        </nav>
    </header>
</div>

<a class="buttons-top-footer" id="toFooter" style="rotate: 180deg" href="#bottom" title="Перейти к низу страницы">^</a>
<a class="buttons-top-footer" id="toTop" href="#background_main" title="Перейти к верху страницы">^</a>

<h1 class="main-text">Краткая характеристика страны</h1>
<div class="country-characteristics-container">
<div class="country-characteristics-table">
    <div class="cc-element"> 
        <h1>Дата основания</h1>
        <h2>{{foundation}}</h2>
    </div>
    <div class="cc-element">
        <h1>Официальный язык</h1>
        <h2>{{lang}}</h2>
    </div>
    <div class="cc-element">
        <h1>Форма правления</h1>
        <h2>{{government_form}}</h2>
    </div>
    <div class="cc-element">
        <h1>Территория</h1>
        <h2>{{territory}}</h2>
    </div>
    <div class="cc-element">
        <h1>Население</h1>
        <h2>{{population}}</h2>
    </div>
    <div class="cc-element">
        <h1>Столица</h1>
        <h2>{{capital}}</h2>
    </div>
    <div class="cc-element">
        <h1>Валюта</h1>
        <h2>{{currency}}</h2>
    </div>
    <div class="cc-element">
        <h1>Часовой пояс</h1>
        <h2>{{time_zone}}</h2>
    </div>
    <div class="cc-element">
        <h1>Крупнейшие города</h1>
        <h2>{{largest_cities}}</h2>
    </div>
</div>
<h2 class="country-info">{{country_info}}</h2>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Ближайшие авиарейсы</h1>
<div style="display: flex; justify-content: center;">
    <iframe class="avia-informer" src="https://rasp.yandex.ru/informers/v2/search/?fromId=c213&amp;toId=c11499&amp;size=5&amp;color=1"></iframe>
    <iframe class="avia-informer" src="https://rasp.yandex.ru/informers/v2/search/?fromId=c213&amp;toId=c11498&amp;size=5&amp;color=1"></iframe>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text" id="places-oae">Туристические места ОАЭ</h1> <!-- менять -->
<div class="filters-buttons" id="filterPlaces-buttons">
    <button class="filter-btn active" onclick="filterPlaceSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterPlaceSelection('dubai')">Места Дубая</button>
    <button class="filter-btn" onclick="filterPlaceSelection('historical')">История</button>
    <button class="filter-btn" onclick="filterPlaceSelection('museums')">Музеи</button>
    <button class="filter-btn" onclick="filterPlaceSelection('fun')">Развлечения</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Place museums dubai" style="background-image: url(images/oae/places/burj-khalifa.jpg);" alt="img">
        <h1>{{place_name1}}</h1>
        <a href="/oae-burjKhalifa" title="Подробнее о Бурдже-Халифа">
        <div class="filter-mask">
            <h2>{{place_desc1}}</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place fun dubai" style="background-image: url(images/oae/places/ski-dubai.jpg);" alt="img">
        <h1>{{place_name2}}</h1>
        <a href="/oae-skiDubai" title="Подробнее о Ски Дубай">
        <div class="filter-mask">
            <h2>{{place_desc2}}</h2>
            <h3 style="margin-top: 0px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place fun dubai" style="background-image: url(images/oae/places/dancing-fountains.jpg);" alt="img">
        <h1>{{place_name3}}</h1>
        <a href="/oae-dancingFountains" title="Подробнее о Танцующих фонтанах">
        <div class="filter-mask">
            <h2>{{place_desc3}}</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical museums dubai" style="background-image: url(images/oae/places/dubai-frame.jpg);" alt="img">
        <h1>Дубайская Рамка</h1>
        <a href="/inDev" title="Подробнее о Дубайской Рамке">
        <div class="filter-mask">
            <h2>Небоскреб высотой 150 метров имеет форму гигантской рамы для картин, и является 
                относительно молодой достопримечательностью (открытие состоялось 1 января 2018 года). Здание символизирует 
                границу между старым и новым городом.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place fun dubai" style="background-image: url(images/oae/places/palm-islands.jpg);" alt="img">
        <h1>Острова Пальм</h1>
        <a href="/inDev" title="Подробнее об Островах Пальм">
        <div class="filter-mask">
            <h2>Острова Пальм (Дейра, Джумейра, Джебель-Али) – это архипелаг в виде пальмы и восьмое чудо света. После 
                Китайской стены это второй объект на земле, который виден из космоса.</h2>
            <h3 style="margin-top: 100px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical museums dubai" style="background-image: url(images/oae/places/museum-of-history.jpg);" alt="img">
        <h1>Музей истории Дубая</h1>
        <a href="/inDev" title="Подробнее о Музее истории Дубая">
        <div class="filter-mask">
            <h2>Этот исторический и одновременно национальный музей стал прекрасным украшением форта Аль-Фахиди. Он увидел 
                свет относительно недавно, в 1971 году. Основная цель данного музея показать традиционную жизнь ОАЭ до того 
                момента, когда начался нефтяной бум.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Отели ОАЭ</h1> <!-- менять -->
<div class="filters-buttons" id="filterHotels-buttons">
    <button class="filter-btn active" onclick="filterHotelSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterHotelSelection('abudabi-hotel')">Отели Абу-Даби</button>
    <button class="filter-btn" onclick="filterHotelSelection('dubai-hotel')">Отели Дубая</button>
    <button class="filter-btn" onclick="filterHotelSelection('all-inclusive')">Всё включено</button>
    <button class="filter-btn" onclick="filterHotelSelection('breakfast-inclusive')">Завтрак включён</button>
    <button class="filter-btn" onclick="filterHotelSelection('sea-visible')">Вид на море</button>
    <button class="filter-btn" onclick="filterHotelSelection('3star')">3✩</button>
    <button class="filter-btn" onclick="filterHotelSelection('4star')">4✩</button>
    <button class="filter-btn" onclick="filterHotelSelection('5star')">5✩</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Hotel 4star abudabi-hotel" style="background-image: url(images/oae/hotels/sheraton.jpg);" alt="img">
        <h1>Sheraton Khalidiya</h1>
        <a href="/inDev" title="Подробнее о Sheraton Khalidiya">
        <div class="filter-mask">
            <h2>Номера в Халидия оборудованы ТВ с плоским экраном и кондиционером, что обеспечивает исключительный комфорт и удобство. 
                Гости могут всегда оставаться на связи благодаря бесплатному Wi-Fi.</h2>
            <h3 style="margin-top: 83px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 5star sea-visible dubai-hotel" style="background-image: url(images/oae/hotels/atlantis.jpg);" alt="img">
        <h1>Atlantis, The Palm</h1>
        <a href="/inDev" title="Подробнее об Atlantis, The Palm">
        <div class="filter-mask">
            <h2>Отель Atlantis, The Palm – такой же легендарный, как Атлантида, в честь которой он был назван. Atlantis, The Palm 
                был первым отелем, который открылся на знаменитом рукотворном острове-«пальме». 
                Курорт встретил первых гостей в 2008 году.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 5star sea-visible all-inclusive dubai-hotel" style="background-image: url(images/oae/hotels/al-arab.jpg);" alt="img">
        <h1>Бурдж Аль-Араб</h1>
        <a href="/inDev" title="Подробнее о Бурдже Аль-Араб">
        <div class="filter-mask">
            <h2>Отель в Дубае, самом крупном городе Объединённых Арабских Эмиратов. Здание стоит в море на расстоянии 280 метров от берега 
                на искусственном острове, соединённом с землёй при помощи моста.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel sea-visible 3star dubai-hotel" style="background-image: url(images/oae/hotels/rove.jpg);" alt="img">
        <h1>Rove Dubai Marina</h1>
        <a href="/inDev" title="Подробнее о Rove Dubai Marina">
        <div class="filter-mask">
            <h2>Отель Rove Dubai Marina, удобно расположенный в одном из самых оживленных и примечательных районов Дубая, прекрасно подходит 
                для увлекательного отдыха. Отель окружен впечатляющими высотными зданиями, а также различными ресторанами и торговыми центрами, 
                в числе которых Dubai Marina Mall.</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 3star dubai-hotel" style="background-image: url(images/oae/hotels/ibis.jpg);" alt="img">
        <h1>Ibis Al Barsha</h1>
        <a href="/inDev" title="Подробнее о Ibis Al Barsha">
        <div class="filter-mask">
            <h2>Отель Ibis Al Barsha удобно расположен на улице Шейх-Заед-роуд. К услугам гостей просторные звукоизолированные номера, ресторан, 
                кафе, 2 бара и бесплатная частная парковка.</h2>
            <h3 style="margin-top: 100px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel all-inclusive 4star abudabi-hotel" style="background-image: url(images/oae/hotels/rayhaan.jpg);" alt="img">
        <h1 style="font-size: 20px">Khalidiya Palace Rayhaan</h1>
        <a href="/inDev" title="Подробнее о Khalidiya Palace Rayhaan">
        <div class="filter-mask">
            <h2>Khalidiya Palace Rayhaan by Rotana — первый отель, открытый в Абу-Даби сетью отелей Rayhaan Hotels & Resorts by Rotana. Отель расположен 
                рядом с восхитительным президентским дворцом, на берегу бирюзового Персидского залива.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Рестораны ОАЭ</h1> <!-- менять -->
<div class="filters-buttons" id="filterRestaurants-buttons">
    <button class="filter-btn active" onclick="filterRestaurantSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('abudabi-restaurant')">Рестораны Абу-Даби</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('dubai-restaurant')">Рестораны Дубая</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('seafood')">Морепродукты</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('traditional-kitchen')">Традиционная кухня</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('expensive')">$$$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('reasonable-price')">$$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('cheap')">$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('fast-food')">Фаст-фуд</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Restaurant reasonable-price fast-food abudabi-restaurant dubai-restaurant" style="background-image: url(images/oae/restaurants/starbucks.jpg);" alt="img">
        <h1>Starbucks</h1>
        <a href="/inDev" title="Подробнее о Starbucks">
        <div class="filter-mask">
            <h2>Старбакс – в некотором роде феномен в розничной продаже кофе. Это одна из первых и уж точно 
                самая известная сеть кофеен, открывшая состоянием на 2023 год более 30 тысяч представительств по всему миру.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant cheap fast-food abudabi-restaurant dubai-restaurant" style="background-image: url(images/oae/restaurants/burger-king.jpg);" alt="img">
        <h1>Burger King</h1>
        <a href="/inDev" title="Подробнее о Burger king">
        <div class="filter-mask">
            <h2>Американская сеть ресторанов быстрого питания Burger King, базирующаяся во Флориде имеет огромное количество 
                точек по всему миру. Считается, что Бургер Кинг – главный конкурент такого гиганта, как Макдональдс.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant reasonable-price traditional-kitchen seafood abudabi-restaurant" style="background-image: url(images/oae/restaurants/mosaic.jpg);" alt="img">
        <h1>Mosaic Restaurant</h1>
        <a href="/inDev" title="Подробнее о Mosaic Restaurant">
        <div class="filter-mask">
            <h2>Первый ресторан, открывшийся в новом отеле Nikolskaya Kempinski, определяет стиль своей работы как «all-day-dining», и там вправду можно толково пообедать. 
                Название ресторан получил в честь обнаруженных и сохраненных во время ремонта мозаик, выполненных в стиле «русский модерн».</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant reasonable-price seafood dubai-restaurant" style="background-image: url(images/oae/restaurants/hadoota-masreya.jpg);" alt="img">
        <h1>Hadoota Masreya</h1>
        <a href="/inDev" title="Подробнее о Hadoota Masreya">
        <div class="filter-mask">
            <h2>Этот ресторан предлагает вегетарианскую и египетскую кухни. В Hadoota Masreya стоит попробовать аппетитное ассорти на гриле, кошари и фалафель. 
                Здесь можно попробовать хорошее вино</h2>
            <h3 style="margin-top: 100px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant cheap traditional-kitchen seafood dubai-restaurant" style="background-image: url(images/oae/restaurants/gf-bar.jpg);" alt="img">
        <h1 style="font-size: 19px">GF Ferre Chocolate Bar</h1>
        <a href="/inDev" title="Подробнее о GF Ferre Chocolate Bar">
        <div class="filter-mask">
            <h2>После прогулки около Snow Penguins at Ski Dubai зайдите поужинать в этот ресторан. Множество клиентов отмечают, что персонал в этом заведении креативный. Посетителям нравится быстрый сервис. 
                В этом ресторане очаровательная атмосфера.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant expensive dubai-restaurant" style="background-image: url(images/oae/restaurants/ciao-bella.jpg);" alt="img">
        <h1>Ciao Bella</h1>
        <a href="/inDev" title="Подробнее о Ciao Bella">
        <div class="filter-mask">
            <h2>В ресторане можно заказать блюда итальянской кухни. Если верить гостям, здесь хорошее вино. Посетители утверждают, что в 
                CaféM неплохой кофе. С точки зрения клиентов, персонал здесь профессиональный. Отличный сервис - большой плюс этого места.</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>

<footer class="footer-main">
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-col">
          <h1 style="margin-left: 30px">Каталог стран</h1>
          <ul style="margin-left: 30px">
            <li><a href="/turkey" title="Подробнее о Турции">- Турция</a></li>
            <li><a class="country-active">- ОАЭ</a></li>
            <li><a href="/egypt" title="Подробнее о Египте">- Египет</a></li>
            <li><a href="/greece" title="Подробнее о Греции">- Греция</a></li>
            <li><a href="/italy" title="Подробнее об Италии">- Италия</a></li>
            <li><a href="/france" title="Подробнее о Франции">- Франция</a></li>
            <li><a href="/china" title="Подробнее о Китае">- Китай</a></li>
            <li><a href="/korea" title="Подробнее о Корее">- Корея</a></li>
            <li><a href="/vietnam" title="Подробнее о Вьетнаме">- Вьетнам</a></li>
            <li><a id="bottom" href="/japan" title="Подробнее о Японии">- Япония</a></li>
          </ul>
        </div>

        <div class="footer-col">
            <h1>Компания</h1>
            <ul>
              <li><a href="/reviews" title="Напишите отзыв о нас">- Отзывы</a></li>
              <li><a href="/aboutUs" title="Подробнее о компании">- О нас</a></li>
              <li><a href="/feedback" title="Ссылка для связи с нами">- Обратная связь</a></li>
              <li><a href="/qna" title="Ответы на часто задаваемые вопросы">- Q&A</a></li>
            </ul>
          </div>

        <div class="footer-col">
          <h1 style="margin-left: 30px">Партнёры</h1>
          <ul style="margin-left: 30px">
            <li><a href="https://www.tutu.ru" title="Ссылка на сайт Туту.ру">- Туту</a></li>
            <li><a href="https://www.aviasales.ru" title="Ссылка на сайт Авиасейлс.ру">- Авиасейлс</a></li>
            <li><a href="https://pegas-turistik.ru" title="Ссылка на сайт Пегас-Туристик.ру">- Пегас туристик</a></li>
          </ul>
        </div>
        
        <div class="footer-col">
          <h1>Контактная информация</h1>
          <div class="social-links">
            <a class="social-media" href="https://vk.com/nnbezgalochki" title="Группа компании ВКонтакте" target="_blank"><i class="fab fa-vk"></i></a>
            <a class="social-media" href="https://web.telegram.org" title="Группа компании в телеграме" target="_blank"><i class="fa fa-solid fa-paper-plane"></i></a>
            <a class="social-media" href="https://www.youtube.com" title="Канал компании на YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="social-media" href="https://ok.ru/" title="Группа компании в одноклассниках" target="_blank"><i class="fab fa-odnoklassniki"></i></a>
            <h4 style="color: #fff; padding-bottom: 10px"><i class="fa fa-solid fa-envelope"></i> travel.ru@yandex.ru</h4>
            <h4 style="color: #fff"><i class="fa fa-solid fa-phone"></i> +79876543210</h4>
            <a href="/" title="Вернуться на Главную страницу" style="color: #fff; line-height: 70px; margin-left: 15 0px"><i class="fa fa-home"></i></a>
            <a href="/sitemap" title="Просмотреть карту сайта" style="color: #fff; line-height: 70px;"><i class="fa fa-sitemap"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/search.js" defer></script>
  <script src="/js/filters.js" defer></script>
  <script src="/js/menu.js" defer></script>
</body>
</html>