<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Трэвел.ру</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/countries.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
<div class="background_countries" id="background_main" style="background-image: url(images/egypt/main.jpg)" alt="img">
    <h1 id="text-travel">Египет</h1>
    <ul class="chain-links">
        <li><a href="/" title="Переход на главную страницу">Главная</a></li>
        <li>Египет</li>
    </ul>
    <header>
        <nav class="container">
            <a class="logo" href="/" title="Переход на главную страницу">
            <img src="images/mainPage/logo.png" alt="img">
            </a>
            <div class="burger"><span></span></div>
            <form id="searchform">
                <input class="search-text" id="text-to-find" value="" placeholder="Искать на странице..">
                <button class="clear-button" type="submit" onclick="FindOnPage('text-to-find',false); return false;"><i class="fa-solid fa-xmark"></i></button>
                <button class="submit-button" type="submit" onclick="FindOnPage('text-to-find',true); return false;"><i class="fa fa-search"></i></button>
            </form>
            <ul id="menu">
            <li><a class="menu_element" href="/" title="Вернуться главную страницу">Главная</a></li>
            <li>
                <a class="menu_element">Каталог стран</a>
                <ul>
                    <li><a href="/turkey" title="Подробнее о Турции">Турция</a></li>  <!-- менять -->
                    <li><a href="/oae" title="Подробнее об ОАЭ">ОАЭ</a></li>
                    <li><a class="country-active" style="text-decoration: 1px underline;">Египет</a></li>
                    <li><a href="/greece" title="Подробнее о Греции">Греция</a></li>
                    <li><a href="/italy" title="Подробнее об Италии">Италия</a></li>
                    <li><a href="/france" title="Подробнее о Франции">Франция</a></li>
                    <li><a href="/china" title="Подробнее о Китае">Китай</a></li>
                    <li><a href="/korea" title="Подробнее о Корее">Корея</a></li>
                    <li><a href="/vietnam" title="Подробнее о Вьетнаме">Вьетнам</a></li>
                    <li><a href="/japan" title="Подробнее о Японии">Япония</a></li>
                </ul>
            </li>
            <li><a class="menu_element" href="/#partners" title="Блок с ссылками на партнёров-спонсоров">Партнёры</a></li>
            <li><a class="menu_element" href="/#reviews" title="Отзывы о компании">Отзывы</a></li>
            <li>
                <a class="menu_element">Компания</a>
                <ul>
                <li><a href="/aboutUs" title="Подробнее о нашей компании">О нас</a></li>
                <li><a style="font-size: 18px" href="/feedback" title="Ссылка для связи с нами">Обратная связь</a></li>
                <li><a href="/qna" title="Ответы на часто задаваемые вопросы">Q&A</a></li>
                </ul>
            </li>
            </ul>
        </nav>
    </header>
</div>

<a class="buttons-top-footer" id="toFooter" style="rotate: 180deg" href="#bottom" title="Перейти к низу страницы">^</a>
<a class="buttons-top-footer" id="toTop" href="#background_main" title="Перейти к верху страницы">^</a>

<h1 class="main-text">Краткая характеристика страны</h1>
<div class="country-characteristics-container">
<div class="country-characteristics-table">
    <div class="cc-element"> 
        <h1>Дата основания</h1>
        <h2>{{foundation}}</h2>
    </div>
    <div class="cc-element">
        <h1>Официальный язык</h1>
        <h2>{{lang}}</h2>
    </div>
    <div class="cc-element">
        <h1>Форма правления</h1>
        <h2>{{government_form}}</h2>
    </div>
    <div class="cc-element">
        <h1>Территория</h1>
        <h2>{{territory}}</h2>
    </div>
    <div class="cc-element">
        <h1>Население</h1>
        <h2>{{population}}</h2>
    </div>
    <div class="cc-element">
        <h1>Столица</h1>
        <h2>{{capital}}</h2>
    </div>
    <div class="cc-element">
        <h1>Валюта</h1>
        <h2>{{currency}}</h2>
    </div>
    <div class="cc-element">
        <h1>Часовой пояс</h1>
        <h2>{{time_zone}}</h2>
    </div>
    <div class="cc-element">
        <h1>Крупнейшие города</h1>
        <h2>{{largest_cities}}</h2>
    </div>
</div>
<h2 class="country-info">{{country_info}}</h2>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Ближайшие авиарейсы</h1>
<div style="display: flex; justify-content: center;">
    <iframe class="avia-informer" src="https://rasp.yandex.ru/informers/v2/search/?fromId=c213&amp;toId=c11485&amp;size=5&amp;color=1"></iframe>
    <iframe class="avia-informer" src="https://rasp.yandex.ru/informers/v2/search/?fromId=c213&amp;toId=c11487&amp;size=5&amp;color=1"></iframe>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text" id="places-egypt">Туристические места Египта</h1>
<div class="filters-buttons" id="filterPlaces-buttons">
    <button class="filter-btn active" onclick="filterPlaceSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterPlaceSelection('historical')">История</button>
    <button class="filter-btn" onclick="filterPlaceSelection('museums')">Музеи</button>
    <button class="filter-btn" onclick="filterPlaceSelection('pyramids')">Пирамиды</button>
    <button class="filter-btn" onclick="filterPlaceSelection('fun')">Развлечения</button>
</div>

<div class="filters-container">
    <div class="filter Place historical pyramids" style="background-image: url(images/egypt/places/pyramids.jpg);" alt="img">
        <h1>{{place_name1}}</h1>
        <a href="/egypt-pyramids" title="Подробнее о Пирамидах Гизы">
        <div class="filter-mask">
            <h2>{{place_desc1}}</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical" style="background-image: url(images/egypt/places/big-sphinx.jpg);" alt="img">
        <h1>{{place_name2}}</h1>
        <a href="/egypt-bigSphinx" title="Подробнее о Большом Сфинксе">
        <div class="filter-mask">
            <h2>{{place_desc2}}</h2>
            <h3 style="margin-top: 33px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical pyramids" style="background-image: url(images/egypt/places/dashhur.jpg);" alt="img">
        <h1>{{place_name3}}</h1>
        <a href="/egypt-dashhur" title="Подробнее о Пирамидах Дашхур">
        <div class="filter-mask">
            <h2>{{place_desc3}}</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical museums" style="background-image: url(images/egypt/places/national-museum.jpg);" alt="img">
        <h1>Национальный музей</h1>
        <a href="/inDev" title="Подробнее о Египетском национальном музее">
        <div class="filter-mask">
            <h2>С началом масштабных исследований Египта появилась необходимость в создании музея внутри страны. Десятки архитекторов предлагали 
                проекты, подражающие пирамидам, но в итоге одобрили замысел француза Марселя Дюрнона, который создал простое и элегантное здание 
                в стиле неоклассического боз-ара.</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place fun" style="background-image: url(images/egypt/places/hurgada-grand.jpg);" alt="img">
        <h1 style="font-size: 23px">Аквариум Хургада Гранд</h1>
        <a href="/inDev" title="Подробнее об Аквариуме Хургада Гранд">
        <div class="filter-mask">
            <h2>Эта достопримечательность считается первооткрывателем в своём роде — это первый как в Египте, так и на всей планете аквариум, 
                где хранится крупное собрание представителей животного и растительного миров Красного моря.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
    <div class="filter Place historical museums" style="background-image: url(images/egypt/places/museum-of-tutankhamun.jpg);" alt="img">
        <h1>Музей Тутанхамона</h1>
        <a href="/inDev" title="Подробнее о Каппадокии">
        <div class="filter-mask">
            <h2>В курортном городке Шарм-эль-Шейх есть единственный музей, который открылся в 2014 году. 
                Это музей Тутанхамона, представляющий интерес у детей и взрослых.</h2>
            <h3 style="margin-top: 116px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Отели Египта</h1> <!-- менять -->
<div class="filters-buttons" id="filterHotels-buttons">
    <button class="filter-btn active" onclick="filterHotelSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterHotelSelection('kair-hotel')">Отели Каира</button>
    <button class="filter-btn" onclick="filterHotelSelection('hurgada-hotel')">Отели Хургады</button>
    <button class="filter-btn" onclick="filterHotelSelection('all-inclusive')">Всё включено</button>
    <button class="filter-btn" onclick="filterHotelSelection('breakfast-inclusive')">Завтрак включён</button>
    <button class="filter-btn" onclick="filterHotelSelection('sea-visible')">Вид на море</button>
    <button class="filter-btn" onclick="filterHotelSelection('3star')">3✩</button>
    <button class="filter-btn" onclick="filterHotelSelection('4star')">4✩</button>
    <button class="filter-btn" onclick="filterHotelSelection('5star')">5✩</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Hotel breakfast-inclusive 4star sea-visible hurgada-hotel" style="background-image: url(images/egypt/hotels/magic-beach.jpg);" alt="img">
        <h1 style="font-size: 23px">Magic Beach Hurghada</h1>
        <a href="/inDev" title="Подробнее о Magic Beach Hurghada">
        <div class="filter-mask">
            <h2>Отель Magic Beach Hurghada с панорамным видом на Красное море расположен в районе Хилал. К услугам гостей открытый бассейн, частный пляж 
                и торговый пассаж. Кроме того, вы можете заняться сноркелингом и рыбной ловлей под руководством команды профессионалов.</h2>
            <h3 style="margin-top: 33px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 5star sea-visible all-inclusive" style="background-image: url(images/egypt/hotels/akassia.jpg);" alt="img">
        <h1>Akassia Swiss Resort</h1>
        <a href="/inDev" title="Подробнее об Akassia Swiss Resort">
        <div class="filter-mask">
            <h2>Пятизвездочный курортный отель Akassia Swiss с видом на пляж расположен в Кусейре. К услугам гостей открытый бассейн, фитнес-центр и 
                сад. Гости могут посетить бар, а также отдохнуть в общем лаундже и на террасе. Среди других удобств — трансфер от/до аэропорта, 
                детский клуб и бесплатный Wi-Fi на всей территории.</h2>
            <h3 style="margin-top: 0px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 5star sea-visible all-inclusive" style="background-image: url(images/egypt/hotels/sataya.jpg);" alt="img">
        <h1>Sataya Resort</h1>
        <a href="/inDev" title="Подробнее о Sataya Resort">
        <div class="filter-mask">
            <h2>Пятизвездочный курортный отель Sataya Marsa Alam с видом на пляж расположен в городе Марса-Алам. К услугам гостей открытый бассейн, 
                фитнес-центр и сад. На территории работает ресторан, аквапарк и детский клуб, а также обустроена терраса.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 3star kair-hotel breakfast-inclusive" style="background-image: url(images/egypt/hotels/giza-inn.jpg);" alt="img">
        <h1>Giza Inn</h1>
        <a href="/inDev" title="Подробнее о Giza Inn">
        <div class="filter-mask">
            <h2>Трехзвездочный отель Giza Inn расположен в городе Каир, в 1,6 км от пирамид Гизы. К услугам гостей общий лаундж, терраса и принадлежности 
                для барбекю. Стойка регистрации этого 3-звездочного отеля работает круглосуточно.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel 3star kair-hotel breakfast-inclusive" style="background-image: url(images/egypt/hotels/quen.jpg);" alt="img">
        <h1>New Pyramid Quen</h1>
        <a href="/inDev" title="Подробнее о New Pyramid Quen">
        <div class="filter-mask">
            <h2>Отель New Pyramid Queen расположен в Каире, в 1,6 км от пирамид Гизы. К услугам гостей номера с рестораном, частная парковка и бар. 
                К услугам гостей этого 3-звездочного отеля терраса, номера с кондиционером, бесплатным Wi-Fi и собственной ванной комнатой в каждом, 
                доставка еды и напитков в номер.</h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Hotel breakfast-inclusive 5star hurgada-hotel sea-visible" style="background-image: url(images/egypt/hotels/hilton.jpg);" alt="img">
        <h1>Hilton Hurghada Plaza</h1>
        <a href="/inDev" title="Подробнее о Hilton Hurghada Plaza">
        <div class="filter-mask">
            <h2>В каждом из светлых и просторных номеров с элегантным интерьером имеются бесплатные туалетно-косметические принадлежности и минеральная 
                вода в бутылках. В числе стандартных удобств — сейф, ванна и душ, утюг/гладильная доска и фен.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>
<div class="filter-split-line"></div>

<h1 class="main-text">Рестораны Египта</h1> <!-- менять -->
<div class="filters-buttons" id="filterRestaurants-buttons">
    <button class="filter-btn active" onclick="filterRestaurantSelection('all')">Показать все</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('kair-restaurant')">Рестораны Каира</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('sharm-restaurant')">Рестораны Шарм-эль-Шейх</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('seafood')">Морепродукты</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('traditional-kitchen')">Традиционная кухня</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('expensive')">$$$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('reasonable-price')">$$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('cheap')">$</button>
    <button class="filter-btn" onclick="filterRestaurantSelection('fast-food')">Фаст-фуд</button>
</div>

<div class="filters-container"> <!-- менять -->
    <div class="filter Restaurant reasonable-price seafood sharm-restaurant traditional-kitchen" style="background-image: url(images/egypt/restaurants/arab-bucks.jpg);" alt="img">
        <h1>Arab Bucks</h1>
        <a href="/inDev" title="Подробнее об Arab Bucks">
        <div class="filter-mask">
            <h2>Попробуйте меню, где вы найдете блюда средиземноморской и египетской кухонь в этом ресторане. Удобное расположение этого места 
                позволяет легко добраться до него на любом виде транспорта. Большинство клиентов отмечают, что персонал в этом заведении отличный. </h2>
            <h3 style="margin-top: 16px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant expensive traditional-kitchen kair-restaurant" style="background-image: url(images/egypt/restaurants/al-khal.jpg);" alt="img">
        <h1>Al Khal Egyptian</h1>
        <a href="/inDev" title="Подробнее об Al Khal Egyptian">
        <div class="filter-mask">
            <h2>В этом ресторане стоит попробовать блюда египетской кухни. В Al Khal предлагают неплохую свинину, телятину и голень ягненка. 
                Вам понравится хорошее вино. Многие посетители утверждают, что в этом месте неплохой сок манго или вкусные свежевыжатые соки.</h2>
            <h3 style="margin-top: 50px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant reasonable-price fast-food kair-restaurant" style="background-image: url(images/egypt/restaurants/starbucks.jpg);" alt="img">
        <h1>Starbucks</h1>
        <a href="/inDev" title="Подробнее о Starbucks">
        <div class="filter-mask">
            <h2>Старбакс – в некотором роде феномен в розничной продаже кофе. Это одна из первых и уж точно 
                самая известная сеть кофеен, открывшая состоянием на 2023 год более 30 тысяч представительств по всему миру. </h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant cheap fast-food kair-restaurant" style="background-image: url(images/egypt/restaurants/burger-king.jpg);" alt="img">
        <h1>Burger King</h1>
        <a href="/inDev" title="Подробнее о Burger king">
        <div class="filter-mask">
            <h2>Американская сеть ресторанов быстрого питания Burger King, базирующаяся во Флориде имеет огромное количество 
                точек по всему миру. Считается, что Бургер Кинг – главный конкурент такого гиганта, как Макдональдс.</h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant cheap seafood sharm-restaurant" style="background-image: url(images/egypt/restaurants/mazzika.jpg);" alt="img">
        <h1>Mazzika</h1>
        <a href="/inDev" title="Подробнее о Mazzika">
        <div class="filter-mask">
            <h2>Уютная атмосфера этого места позволяет гостям расслабиться после тяжелого дня. С точки зрения клиентов, персонал здесь отличный. 
                Быстрый сервис - большой плюс этого заведения. Этот ресторан предлагает блюда по низким ценам. </h2>
            <h3 style="margin-top: 67px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>

    <div class="filter Restaurant reasonable-price traditional-kitchen" style="background-image: url(images/egypt/restaurants/la-rose.jpg);" alt="img">
        <h1>La rose cafe</h1>
        <a href="/inDev" title="Подробнее о La rose cafe">
        <div class="filter-mask">
            <h2>Здесь вас ждут средиземноморская и египетская кухни. В этом кафе стоит заказать неплохих креветок на гриле и аппетитные морепродукты. 
                Здесь можно попробовать хороший кофе.</h2>
            <h3 style="margin-top: 83px">Нажмите, чтобы узнать подробнее</h3>
        </div>
        </a>
    </div>
</div>

<footer class="footer-main">
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-col">
          <h1 style="margin-left: 30px">Каталог стран</h1>
          <ul style="margin-left: 30px">
            <li><a href="/turkey" title="Подробнее о Турции">- Турция</a></li>
            <li><a href="/oae" title="Подробнее об ОАЭ">- ОАЭ</a></li>
            <li><a class="country-active">- Египет</a></li>
            <li><a href="/greece" title="Подробнее о Греции">- Греция</a></li>
            <li><a href="/italy" title="Подробнее об Италии">- Италия</a></li>
            <li><a href="/france" title="Подробнее о Франции">- Франция</a></li>
            <li><a href="/china" title="Подробнее о Китае">- Китай</a></li>
            <li><a href="/korea" title="Подробнее о Корее">- Корея</a></li>
            <li><a href="/vietnam" title="Подробнее о Вьетнаме">- Вьетнам</a></li>
            <li><a id="bottom" href="/japan" title="Подробнее о Японии">- Япония</a></li>
          </ul>
        </div>

        <div class="footer-col">
            <h1>Компания</h1>
            <ul>
              <li><a href="/reviews" title="Напишите отзыв о нас">- Отзывы</a></li>
              <li><a href="/aboutUs" title="Подробнее о компании">- О нас</a></li>
              <li><a href="/feedback" title="Ссылка для связи с нами">- Обратная связь</a></li>
              <li><a href="/qna" title="Ответы на часто задаваемые вопросы">- Q&A</a></li>
            </ul>
          </div>

        <div class="footer-col">
          <h1 style="margin-left: 30px">Партнёры</h1>
          <ul style="margin-left: 30px">
            <li><a href="https://www.tutu.ru" title="Ссылка на сайт Туту.ру">- Туту</a></li>
            <li><a href="https://www.aviasales.ru" title="Ссылка на сайт Авиасейлс.ру">- Авиасейлс</a></li>
            <li><a href="https://pegas-turistik.ru" title="Ссылка на сайт Пегас-Туристик.ру">- Пегас туристик</a></li>
          </ul>
        </div>
        
        <div class="footer-col">
          <h1>Контактная информация</h1>
          <div class="social-links">
            <a class="social-media" href="https://vk.com/nnbezgalochki" title="Группа компании ВКонтакте" target="_blank"><i class="fab fa-vk"></i></a>
            <a class="social-media" href="https://web.telegram.org" title="Группа компании в телеграме" target="_blank"><i class="fa fa-solid fa-paper-plane"></i></a>
            <a class="social-media" href="https://www.youtube.com" title="Канал компании на YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="social-media" href="https://ok.ru/" title="Группа компании в одноклассниках" target="_blank"><i class="fab fa-odnoklassniki"></i></a>
            <h4 style="color: #fff; padding-bottom: 10px"><i class="fa fa-solid fa-envelope"></i> travel.ru@yandex.ru</h4>
            <h4 style="color: #fff"><i class="fa fa-solid fa-phone"></i> +79876543210</h4>
            <a href="/" title="Вернуться на Главную страницу" style="color: #fff; line-height: 70px; margin-left: 15 0px"><i class="fa fa-home"></i></a>
            <a href="/sitemap" title="Просмотреть карту сайта" style="color: #fff; line-height: 70px;"><i class="fa fa-sitemap"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/search.js" defer></script>
  <script src="/js/filters.js" defer></script>
  <script src="/js/menu.js" defer></script>
</body>
</html>